<style>

	.list-group-item p {
		line-height: 0.5;
	}
</style>

<div class="row">
	<div class="col-sm-12 col-xl-4">
		<div class="card-body p-0">
			<div class="basic-list-group">
				<ul class="list-group">
					<li class="list-group-item">
						<p class="text-primary">Dosya Numarası</p>
						<p class="text-sm-start" id="dosya_numarasi">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Firma Referansı
						</p>
						<p class="text-sm-start" id="firma_referans_numarasi">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Yerel Bşvr. No
						</p>
						<p class="text-sm-start" id="basvuru_numarasi">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Buluş Başlık
						</p>
						<p class="text-sm-start" id="baslik">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Başvuru Türü
						</p>
						<p class="text-sm-start" id="basvuru_turu">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Başvuru Sistemi
						</p>
						<p class="text-sm-start" id="basvuru_sistemi">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Yerel Bşvr. Tar.
						</p>
						<p class="text-sm-start" id="basvuru_tarihi">-</p>


					</li>
					<li class="list-group-item">
						<p class="text-primary">Başvuru Ülkesi
						</p>
						<p class="text-sm-start" id="ulke">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Dosya Son Durumu
						</p>
						<p class="text-sm-start" id="son_durum_detay">Başvuru Öncesinde</p>

					</li>
				</ul>
			</div>
		</div>
	</div>

	{# right #}
	{{ include('patent/inc/rightMenu.html.twig') }}

</div>
