{% extends "auth/layout.html.twig" %}

{% block body %}
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <a href="index.html"><img src="images/logo-full.png" alt=""></a>
                                    </div>
                                    <h4 class="text-center mb-4">
                                       Kayıt Ol!
                                    </h4>
                                    <form action="{{ path('app_main') }}">
                                        <div class="mb-3">
                                            <label class="mb-1">
                                                <strong>Ad</strong>
                                            </label>
                                            <input type="text" class="form-control" value="Ali">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">
                                                <strong>Soyad</strong>
                                            </label>
                                            <input type="text" class="form-control" value="Yılmaz">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">
                                                <strong>E Posta</strong>
                                            </label>
                                            <input type="email" class="form-control" value="ali.yilmaz@ankarapatent.com">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">
                                                <strong>Şifre</strong>
                                            </label>
                                            <input type="password" class="form-control" value="Password">
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Kaydol</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Zaten bir hesabınız var mı? <a class="text-primary" href="{{ path('app_auth_login') }}">Giriş Yap</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
