<p>
    45-Hukuki hizmetler (sınai ve fikri mülkiyet hakları konusunda danışmanlık hizmetleri dahil). Güvenlik hizmetleri. Evlendirme büroları hizmetleri. Cenaze hizmetleri. Giysi kiralama hizmetleri. Yangın söndürme hizmetleri. Refakat etme hizmetleri. İş güvenliği konularında danışmanlık hizmetleri. Sosyal ağ oluşturma hizmetleri.
</p>

<p>
    41- Eğitim ve öğretim hizmetleri. Sempozyum, konferans, kongre ve seminer düzenleme, idare hizmetleri. Spor, kültür ve eğlence hizmetleri (sinema, spor karşılaşmaları, tiyatro, müze, konser gibi kültür ve eğlence etkinlikleri için bilet rezervasyonu ve bilet sağlama hizmetleri dahil). Dergi, kitap, gazete vb. gibi yayınların basıma hazır hale getirilmesi, okuyucuya ulaştırılmasına ilişkin hizmetler (global iletişim ağları vasıtasıyla anılan hizmetlerin sağlanması da dahil). Film, televizyon ve radyo programları yapım hizmetleri. Haber muhabirliği hizmetleri, foto-muhabirliği hizmetleri. Fotoğrafçılık hizmetleri. Tercüme hizmetleri.
</p>

<p>
    35-Reklamcılık, pazarlama ve halkla ilişkiler ile ilgili hizmetler, ticari ve reklam amaçlı sergi ve fuarların organizasyonu hizmetleri, reklam amaçlı tasarım hizmetleri; alıcı ve satıcılar için online pazaryeri (internet sitesi) sağlama hizmetleri.
    Reklamcılık, pazarlama ve halkla ilişkiler ile ilgili hizmetler, ticari ve reklam amaçlı sergi ve fuarların organizasyonu hizmetleri, reklam amaçlı tasarım hizmetleri; alıcı ve satıcılar için online pazaryeri (internet sitesi) sağlama hizmetleri.
    Büro hizmetleri: sekreterlik hizmetleri, gazete aboneliği düzenleme hizmetleri, istatistiklerin derlenmesi, büro makinelerinin kiralanması hizmetleri, bilgisayar veri tabanlarındaki bilginin sistematik hale getirilmesi, telefon cevaplama hizmetleri.
    Büro hizmetleri: sekreterlik hizmetleri, gazete aboneliği düzenleme hizmetleri, istatistiklerin derlenmesi, büro makinelerinin kiralanması hizmetleri, bilgisayar veri tabanlarındaki bilginin sistematik hale getirilmesi, telefon cevaplama hizmetleri.
    İş yönetimi, idaresi ve bu konular ile ilgili danışmanlık, muhasebe ve mali müşavirlik hizmetleri, personel işe yerleştirme, işe alma, personel seçimi, personel temini hizmetleri, ithalat-ihracat acente hizmetleri, geçici personel görevlendirme (başkası adına fatura yatırma, vergi yatırma, trafik işlemleri gibi iş takibi) hizmetleri.
    İş yönetimi, idaresi ve bu konular ile ilgili danışmanlık, muhasebe ve mali müşavirlik hizmetleri, personel işe yerleştirme, işe alma, personel seçimi, personel temini hizmetleri, ithalat-ihracat acente hizmetleri, geçici personel görevlendirme (başkası adına fatura yatırma, vergi yatırma, trafik işlemleri gibi iş takibi) hizmetleri.
    Açık artırmaların düzenlenmesi ve gerçekleştirilmesi hizmetleri.
    Açık artırmaların düzenlenmesi ve gerçekleştirilmesi hizmetleri.
</p>