<style>

    .list-group-item p {
        line-height: 0.5;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-xl-4">
        <div class="card-body p-0">
            <div class="basic-list-group">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="text-primary">Dosya Numarası</p>
                        <p class="text-sm-start">000055</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Firma Referansı
                        </p>
                        <p class="text-sm-start">-</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Başvuru Numarası

                        </p>
                        <p class="text-sm-start">Ulusal</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Başvuru Ülkesi


                        </p>
                        <p class="text-sm-start">TÜRKİYE</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Başvuru Tarihi
                        </p>
                        <p class="text-sm-start">27/08/2020</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Dosya Son Durumu

                        </p>
                        <p class="text-sm-start">Tescil</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Yayın Bülteni

                        </p>
                        <p class="text-sm-start">-</p>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    {# right #}
    {{ include('design/inc/rightMenu.html.twig') }}

</div>
