<!--**********************************
            Nav header start
        ***********************************-->
<div class="nav-header">
	<a href="{{path('app_main')}}" class="brand-logo d-flex align-items-center	">
		<div
			class="d-flex justify-content-center align-items-center"
		>
			<img src="{{ asset('assets/images/logo/apiz_3.png') }}" style="width:43%" />
		</div>

	</a>
	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>
</div>
