<style>
	table.table th {
		font-size: 12px !important
	}

	table.table td {
		font-size: 10px !important;
	}
</style>
<div class="table-responsive">
	<table class="table table-responsive-sm">
		<thead>
			<tr>
				<th>İşlem</th>
				<th>İşlem Tarihi</th>
				<th>İşlem Son Tarih</th>
				<th>Açıklama</th>
				<th>Kullanıcı</th>
				<th>Durum</th>
				<th>Ek</th>
				<th>Evrak</th>
			</tr>
		</thead>
		<tbody id="actionsContainer"></tbody>
	</table>
</div>
