<style>
    .form-label {
        font-weight: bold;
    }
</style>
<div class="basic-form p-3">
    <form>
        <div class="row">
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Sektör</label>
                    <input type="text" class="form-control" placeholder="" value="BB" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Tasarımcı
                    </label>
                    <input type="text" class="form-control" placeholder="" value="TEST" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Sınıf Listesi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="03-03" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Tasarımcı Adres
                    </label>
                    <input type="text" class="form-control" placeholder="" value='TEST' disabled>
                </div>
            </div>

        </div>
    </form>
</div>