<style>
	.form-label {
		font-weight: bold;
	}
</style>
<div class="basic-form p-3">
	<form>
		<div
			class="row">
			{# alert #}
			<div class="col-12">
				<div class="row">
					<div class="col-sm-12 col-lg-6 mb-3">
						<label class="form-label">Sektör
						</label>
						<input type="text" class="form-control" id="" placeholder="" value="-" readonly>

					</div>

					<div class="col-sm-12 col-lg-6 mb-3">

						<label class="form-label">Sınıf Listesi
						</label>
						<input type="text" class="form-control" id="sinif-listesi" placeholder="" value="-" readonly>
					</div>

				</div>


				<div class="mt-3">
					<table class="table table-responsive-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>Tasarımcı</th>
								<th>Tasarımcı Adres</th>
							</tr>
						</thead>
						<tbody id="design-body"></tbody>


					</table>

				</div>

			</div>

		</div>
	</form>
</div>
