<style>
	table.table th {
		font-size: 12px !important
	}

	table.table td {
		font-size: 10px !important;
	}
</style>
<div class="table-responsive">
	<table class="table table-responsive-sm">
		<thead>
			<tr>
				<th>Dosya Adı</th>
				<th>Dosya Türü</th>
				<th>Boyut(Byte)</th>
				<th>
					Yapım Aşamasında..
				</th>
			</tr>
		</thead>
		<tbody id="design-rows"></tbody>
	</table>
</div>
