<style>
    table.table th {
        font-size: 12px !important
    }

    table.table td {
        font-size: 10px !important;
    }
</style>
<div class="table-responsive">
    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th>Dosya Adı</th>
            <th>Dosya Türü</th>
            <th>Boyut(Byte)</th>
            <th>
              İndir
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
               1004.017.pdf
            </td>
            <td>
          application/pdf
            </td>
            <td>
              92.670
            </td>
            <td>
                <a href="#" class="text-primary text-decoration-underline">İndir</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>