<style>

	.list-group-item p {
		line-height: 0.5;
	}
</style>

<div class="row">
	<div class="col-sm-12 col-xl-4">
		<div class="card-body p-0">
			<div class="basic-list-group">
				<ul class="list-group">
					<li class="list-group-item">
						<p class="text-primary">Dosya Numarası
						</p>
						<p class="text-sm-start" id="col_file_number">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Firma Referans Numarası
						</p>
						<p class="text-sm-start" id="" data-status="yok">-</p>
					</li>
					<li class="list-group-item">
						<p class="text-primary">Marka
						</p>
						<p class="text-sm-start" id="col_trademark">-</p>
					</li>
					<li class="list-group-item">
						<p class="text-primary">Başvuru Sahibi
						</p>
						<p class="text-sm-start" id="col_applicant">-</p>

					</li>
					<li class="list-group-item">
						<p class="text-primary">Başvuru Numarası
						</p>
						<p class="text-sm-start" id="col_application_number">-</p>

					</li>

					<li class="list-group-item">
						<p class="text-primary">Madrid Numarası
						</p>
						<p class="text-sm-start" id="col_class_string" data-status="yok">-</p>
					</li>

				</ul>
			</div>
		</div>
	</div>

	{# right #}
	{{ include('brand/international_trademark/appeal_file/rightMenu.html.twig') }}

</div>
