<style>
    table.table th {
       font-size: 12px !important
    }

    table.table td {
        font-size: 10px !important;
    }
</style>
<div class="table-responsive">
    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th>İşlem</th>
            <th>İşlem Tarihi</th>
            <th>İşlem Son Tarih</th>
            <th>Açıklama</th>
            <th>Kullanıcı</th>
            <th>Durum</th>
            <th>Ek</th>
            <th>Evrak</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tescil Belgesi</td>
            <td>11/04/2022</td>
            <td>11/04/2022
            </td>
            <td>2021/126529 fikri hakların yıldız uzmanları
            </td>
            <td >Cenk YÜKSEL
            </td>
            <td >Geldi
            </td>
            <td></td>
            <td  class="text-primary text-decoration-underline " style="cursor: pointer">İndir
            </td>
        </tr>

        </tbody>
    </table>
</div>