<style>
    .form-label {
        font-weight: bold;
    }
</style>
<div class="basic-form p-3">
    <form>
        <div class="row">
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Dosya Son Durumu
                    </label>
                    <input type="text" class="form-control" placeholder="" id="col_last_status" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Başvuru Sistemi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">I. Yayın Bülteni
                    </label>
                    <input type="text" class="form-control" placeholder="" id="ref_trademark_bulletin_id" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">II. Yayın Bülteni

                    </label>
                    <input type="text" class="form-control" placeholder="" id="ref_trademark_second_bulletin" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Tescil Numarası

                    </label>
                    <input type="text" class="form-control" placeholder="" value="2021 126529" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Koruma Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="?" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Yenileme Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" id="col_renewal_date" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">TPMK Tescil Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" id="col_tpe_registration_date" value="-" disabled>
                </div>
            </div>

        </div>
    </form>
</div>