<style>
	.form-label {
		font-weight: bold;
	}
</style>
<div class="basic-form p-3">
	<form>
		<div class="row">
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Dosya Son Durumu
					</label>
					<input type="text" class="form-control" placeholder="" id="col_last_status" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">İtiraz Son Tarihi

					</label>
					<input type="text" class="form-control" placeholder="" id="col_opposition_due_date" value="-" disabled>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Yayın Bülteni
					</label>
					<input type="text" class="form-control" placeholder="" id="col_application_number" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">TPMK Sahip Numarası

					</label>
					<input type="text" class="form-control" placeholder="" id="col_applicant-inpt" value="-" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Tanınmış Marka

					</label>
					<input type="text" class="form-control" placeholder="" value="-" disabled>
				</div>
				<div class="mb-3 row">
					<label class="form-label">Talimat Durumu
					</label>
					<input type="text" class="form-control" placeholder="" id="col_opp_type" value="" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Bildirim Türü</label>
					<input type="text" class="form-control" placeholder="" id="col_msg_type" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">İlk İtiraz Sonucu
					</label>
					<input type="text" class="form-control" placeholder="" id="col_first_opposition_result" value="-" disabled>

				</div>


			</div>

			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">İkinci İtiraz Sonucu
					</label>
					<input type="text" class="form-control" placeholder="" id="col_second_opposition_result" value="-" disabled>

				</div>


			</div>


		</div>
	</form>
</div>
