<div class="modal fade" id="otherBransh">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">(7537066) ABDURAHMAN HAKAN UYSAL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body  p-4">
                <div class="table-responsive">
                    <table class="table table-bordered verticle-middle table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col">Marka</th>
                            <th scope="col">Sınıf</th>
                            <th scope="col">Basvuru No</th>
                            <th scope="col">Tescil No</th>
                            <th scope="col">Tescil Tarihi</th>
                            <th scope="col">Kor. Tarihi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Anatolya Katamaran</td>
                            <td>    <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">35</a>
                                <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">12</a>
                        </td>
                            <td>
                                2023/095790
                            </td>
                            <td>

                            </td>
                            <td>
                                25/07/2023
                            </td>
                            <td>
                                25/07/2023
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
