<div class="modal fade" id="similarityModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bildirilmeye hazır markalar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="basic-list-group">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div>X Marka</div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div>Y Marka</div>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div>Z Marka</div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary">Toplu itiraz et </button>
            </div>
        </div>
    </div>
</div>
