<div class="items">
	<div class="card-header border-0">
		<div>
			<h4 class="fs-20 font-w700">
				Patent Durum
			</h4>
		</div>
	</div>

	<div class="card-body">
		<div id="emailchart"></div>
		<div class="mb-3 mt-4">
			<h4 class="fs-18 font-w600 patent">Sonuç bulunamadı</h4>
		</div>
		<div>
			<div class="d-flex align-items-center justify-content-between mb-4 d-none patent_musteri_takibinde_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#886CC0"/>
					</svg>
					Müşteri Takibinde
				</span>
				<span class="fs-18 font-w600" id="patent_musteri_takibinde_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_sadece_taksit_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#26E023"/>
					</svg>
					Sadece Taksit
				</span>
				<span class="fs-18 font-w600" id="patent_sadece_taksit_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_terk_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#61CFF1"/>
					</svg>
					Terk
				</span>
				<span class="fs-18 font-w600" id="patent_terk_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_basvuru_asamasinda_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#23d3c5"/>
					</svg>
					Başvuru Aşamasında
				</span>
				<span class="fs-18 font-w600" id="patent_basvuru_asamasinda_sayisi">-</span>
			</div>

			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_dosya_no_degisikligi_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#dcea3f"/>
					</svg>
					Dosya No Değişikliği
				</span>
				<span class="fs-18 font-w600" id="patent_dosya_no_degisikligi_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_mukerrer_kayit_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#3e4ed8"/>
					</svg>
					Mükerrer Kayıt
				</span>
				<span class="fs-18 font-w600" id="patent_mukerrer_kayit_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_vekil_degisikligi_sayisi ">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#2bb0bc"/>
					</svg>
					Vekil Değişikliği
				</span>
				<span class="fs-18 font-w600" id="patent_vekil_degisikligi_sayisi ">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_belge_aldi_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#d13f25"/>
					</svg>
					Belge Aldı
				</span>
				<span class="fs-18 font-w600" id="patent_belge_aldi_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_basvuru_oncesi_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#f48e7c"/>
					</svg>
					Başvuru Öncesinde
				</span>
				<span class="fs-18 font-w600" id="patent_basvuru_oncesi_sayisi">-</span>
			</div>
			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_koruma_suresi_dolmustur_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#f48e7c"/>
					</svg>
					Koruma Süresi Dolmuştur
				</span>
				<span class="fs-18 font-w600" id="patent_koruma_suresi_dolmustur_sayisi">-</span>
			</div>

			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_ulke_asamasi_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#2bb0bc"/>
					</svg>
					Ülke Aşaması
				</span>
				<span class="fs-18 font-w600" id="patent_ulke_asamasi_sayisi">-</span>
			</div>

			<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_ret_sayisi">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#2bb0bc"/>
					</svg>
					Ret
				</span>
				<span class="fs-18 font-w600" id="patent_ret_sayisi">-</span>
			</div>



         	<div class="d-flex align-items-center justify-content-between  mb-4 d-none patent_basvuru_sayisi ">
				<span class="fs-18 font-w500">
					<svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="20" height="20" rx="6" fill="#2bb0bc"/>
					</svg>
               Patent Başvuru Sayısı
				</span>
				<span class="fs-18 font-w600" id="patent_basvuru_sayisi">-</span>
			</div>
		</div>
	</div>
</div>
