<div class="items">
    <div class="card-header border-0">
        <div>
            <h4 class="fs-20 font-w700">
                Bölüm Bazında İşlemler
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div id="emailchart"></div>
        <div class="mb-3 mt-4">
           <div class="d-flex justify-content-between align-items-center">
               <h4 class="fs-18 font-w600">Son 15 İşlem</h4>

               <div class="d-flex align-items-center gap-3">
                   <i class="fas fa-file-pdf" style="font-size: 30px; cursor: pointer;color:#BEADDC"></i>
                   <i class="fas fa-file-excel" style="font-size: 30px; cursor:pointer;color:#BEADDC"></i>
               </div>
           </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm primary-table-bordered">
                                <thead class="thead-primary">
                                <tr>
                                    <th>İşlem Tarihi</th>
                                    <th>Dosya Türü</th>
                                    <th>Dosya Detay</th>
                                    <th>İşlem Tanım</th>
                                    <th>İşlem Açıklama</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >17/05/2023</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >Orası</div>
                                    </td>
                                    <td class="">
                                        <div >ARAMA ESNASINDA</div>
                                    </td>
                                    <td class="">
                                        <div >2023/048562 derle</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >25/04/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >fikri haklar yıldız uzman akademisi</div>
                                    </td>
                                    <td class="">
                                        <div >TESCİL BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2021/126519 fikri haklar yıldız uzman akademisi</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >15/04/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >yıldız uzman</div>
                                    </td>
                                    <td class="">
                                        <div >TESCİL BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2021/126513 yıldız uzman</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >11/04/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >fikri haklar yıldız uzman akademisi</div>
                                    </td>
                                    <td class="">
                                        <div >TESCİL KARARI</div>
                                    </td>

                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >11/04/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >yıldız uzman</div>
                                    </td>
                                    <td class="">
                                        <div >TESCİL KARARI</div>
                                    </td>

                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >11/04/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >fikri hakların yıldız uzmanları</div>
                                    </td>
                                    <td class="">
                                        <div >TESCİL BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2021/126529 fikri hakların yıldız uzmanları</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >07/03/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >apb</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05740 apb</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >07/03/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >boş</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05736 hayır</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >07/03/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >tamara</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05735 tamara</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >04/03/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >teknowatch 2012 05739</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05739 âtechnowatchâ</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >17/02/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >anka</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05738 anka</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >17/02/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >apb ankara patent bürosu şekil</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05742 “apb ankara patent bürosu”</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >17/02/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >patara</div>
                                    </td>
                                    <td class="">
                                        <div >YENİLEME BELGESİ</div>
                                    </td>
                                    <td class="">
                                        <div >2012/05734 patara</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >07/01/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >yıldız uzman</div>
                                    </td>
                                    <td class="">
                                        <div >ARAMA ESNASINDA</div>
                                    </td>
                                    <td class="">
                                        <div >2021/126513 yıldız uzman</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row">
                                    <td class="">
                                        <div >07/01/2022</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-success">Yurtiçi Marka</div>
                                    </td>
                                    <td class="">
                                        <div >fikri hakların yıldız uzmanları</div>
                                    </td>
                                    <td class="">
                                        <div >ARAMA ESNASINDA</div>
                                    </td>
                                    <td class="">
                                        <div >2021/126529 “fikri hakların yıldız uzmanları”</div>
                                    </td>
                                </tr>
                                <tr class="v-table-row-odd">
                                    <td class="">
                                        <div >30/01/2017</div>
                                    </td>
                                    <td class="">
                                        <div class="badge badge-info light">Patent</div>
                                    </td>
                                    <td class="">
                                        <div >Bifikir</div>
                                    </td>
                                    <td class="">
                                        <div >TPE ARAŞTIRMA RAPORU</div>
                                    </td>
                                    <td class="">
                                        <div ></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>