<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-6 col-sm-6">
            <div class="card">
                <div class="card-body d-flex px-4  justify-content-between">
                    <div>
                        <div class="">
                            <h2 class="fs-32 font-w700">650.000</h2>
                            <span class="fs-18 font-w500 d-block">Yurtiçi Marka Durum</span>
                            <span class="d-block fs-16 font-w400">
                                       <small class="text-success">+10%</small>
                                       Bir önceki ay</span>
                        </div>
                    </div>
                    <div id="NewCustomers5"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6">
            <div class="card">
                <div class="card-body d-flex px-4  justify-content-between">
                    <div>
                        <div class="">
                            <h2 class="fs-32 font-w700">300.000</h2>
                            <span class="fs-18 font-w500 d-block">Yurtdışı Marka Durum</span>
                            <span class="d-block fs-16 font-w400">
                                       <small class="text-danger">-2%</small>
                                       Bir önceki ay</span>
                        </div>
                    </div>
                    <div id="NewCustomers"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6">
            <div class="card">
                <div class="card-body d-flex px-4  justify-content-between">
                    <div>
                        <div class="">
                            <h2 class="fs-32 font-w700">350.000</h2>
                            <span class="fs-18 font-w500 d-block">Patent</span>
                            <span class="d-block fs-16 font-w400">
                                       <small class="text-success">+20%</small>
                                       Bir önceki ay</span>
                        </div>
                    </div>
                    <div id="NewCustomers1"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6">
            <div class="card">
                <div class="card-body d-flex px-4  justify-content-between">
                    <div>
                        <div class="">
                            <h2 class="fs-32 font-w700">200.000</h2>
                            <span class="fs-18 font-w500 d-block">Tasarım Durum</span>
                            <span class="d-block fs-16 font-w400">
                                       <small class="text-success">+10%</small>
                                       Bir önceki ay</span>
                        </div>
                    </div>
                    <div id="columnChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>