<div class="items">
    <div class="card-header border-0">
        <div>
            <h4 class="fs-20 font-w700">
                Yurtdışı Marka Durum
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div id="emailchart"></div>
        <div class="mb-3 mt-4">
            <h4 class="fs-18 font-w600">Özet</h4>
        </div>
        <div>
            <div class="d-flex align-items-center justify-content-between mb-4">
            <span class="fs-18 font-w500">
               <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" rx="6" fill="#886CC0"/>
               </svg>
               Başvuru (27%)
            </span>
                <span class="fs-18 font-w600">85.000</span>
            </div>
            <div class="d-flex align-items-center justify-content-between  mb-4">
            <span class="fs-18 font-w500">
               <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" rx="6" fill="#26E023"/>
               </svg>
               Yayın (11%)
            </span>
                <span class="fs-18 font-w600">50.000</span>
            </div>
            <div class="d-flex align-items-center justify-content-between  mb-4">
            <span class="fs-18 font-w500">
               <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" rx="6" fill="#61CFF1"/>
               </svg>
               Yenileme Terk (22%)
            </span>
                <span class="fs-18 font-w600">30.000</span>
            </div>
            <div class="d-flex align-items-center justify-content-between  mb-4">
            <span class="fs-18 font-w500">
               <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" rx="6" fill="#FFDA7C"/>
               </svg>
               Tescilli (30%)
            </span>
                <span class="fs-18 font-w600">60.000</span>
            </div>
        </div>
    </div>
</div>