<style>
    table.table th {
        font-size: 12px !important
    }

    table.table td {
        font-size: 10px !important;
    }
</style>
<div class="table-responsive">
    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th>İşlem</th>
            <th>İşlem Tarihi</th>
            <th>Son İşlem Tarihi</th>
            <th>Açıklama</th>
            <th>Kullanıcı</th>
            <th>Durum</th>
            <th>Ek</th>
            <th>Evrak</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                YAYINLANAN MARKAYLA İLK İTİRAZIN REDDİ KARARI
            </td>
            <td>
               04/08/2023
            </td>
            <td>
                04/08/2023
            </td>
            <td>
                lorem ipsum dolor sit amet lorem ipsum dolor sit amet
            </td>
            <td>
              Ali Yılmaz
            </td>
            <td>
                Bildirildi
            </td>

            <td>
                <a href="javascript:void(0)" class="btn btn-sm btn-primary">Ek</a>
            </td>

            <td>
                <a href="javascript:void(0)" class="btn btn-sm btn-primary">Evrak</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>