<style>
	table.table th {
		font-size: 12px !important
	}

	table.table td {
		font-size: 10px !important;
	}
</style>
<div class="table-responsive">
	<table class="table table-responsive-sm">
		<thead>
			<tr>
				<th>No</th>
				<th>ETTN</th>
				<th>Tarih</th>
				<th>Tutar(TL)</th>
				<th>Açıklama</th>
				<th>Durum</th>
				<th>Detay</th>
			</tr>
		</thead>
		<tbody id="invoice-tbody"></tbody>
	</table>
</div>
