<style>
	.form-label {
		font-weight: bold;
	}
</style>
<div class="basic-form p-3">
	<form>
		<div class="row">
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Başvuru Sistemi
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_application_system" value="-" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">TPMK Başvuru No

					</label>
					<input type="text" class="form-control" placeholder="" value="?" id="yda_col_application_number" disabled>


				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Yenileme Tarihi
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_renewal_date" value="-" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">Ülke

					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_country" value="-" disabled>


				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Yayın Tarihi
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_publication_date" value="?" disabled>
				</div>
				<div class="mb-3 row">
					<label class="form-label">Ülke Ekleme Tarihi
					</label>
					<input type="text" class="form-control" placeholder="" value="?" disabled>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Dosya Son Durumu
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_last_status" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Tescil Numarası
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_" value="?" disabled>
				</div>
			</div>

			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Ülke Aşa. Geçiş Tarihi
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_renewal_date" value="?" disabled>
				</div>
				<div class="mb-3 row">
					<label class="form-label">Yayında Kalma Süresi
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_" value="?" disabled>
				</div>
			</div>

			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">18 Ay Süre Sonu Tarihi
					</label>
					<input type="text" class="form-control" placeholder="" id="yda_col_renewal_date" value="?" disabled>
				</div>
			</div>


		</div>
	</form>
</div>
