<style>

    .list-group-item p {
        line-height: 0.5;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-xl-4">
        <div class="card-body p-0">
            <div class="basic-list-group">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="text-primary">Firma Referans Numarası
                        </p>
                        <p class="text-sm-start">-</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Marka
                        </p>
                        <p class="text-sm-start">derle</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Ayırtedici Unsur
                        </p>
                        <p class="text-sm-start">derle</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Başvuru Numarası
                        </p>
                        <p class="text-sm-start">2023/048562</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Başvuru Tarihi
                        </p>
                        <p class="text-sm-start">13/04/2023</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Dosya Numarası
                        </p>
                        <p class="text-sm-start">000067</p>
                    </li>
                    <li class="list-group-item">
                        <p class="text-primary">Eşya Sınıf Listesi
                        </p>
                        <p class="text-sm-start">07, 08, 09, 16, 21, 35, 38, 41, 42, 45</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    {# right #}
    {{ include('brand/domestic_brand/inc/rightMenu.html.twig') }}

</div>
