<style>
    .form-label {
        font-weight: bold;
    }
</style>
<div class="basic-form p-3">
    <form>
        <div class="row">
            <h5 class="text-primary">Ek Patent</h5>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Ana Patent Dosya Numarası
                    </label>
                    <input type="text" class="form-control" placeholder="" value="" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Ana Patent Başvuru Numarası
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Ana Patent Dosyalama Tarihi
                    </label>
                    <input type="date" class="form-control" placeholder="" value="İrem ÖZŞATIR" disabled>
                </div>
            </div>
            <h5 class="text-primary">Bölünmüş Patent</h5>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Ana Patent Dosya Numarası
                    </label>
                    <input type="text" class="form-control" placeholder="" value="" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Ana Patent Başvuru Numarası
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Ana Patent Dosyalama Tarihi
                    </label>
                    <input type="date" class="form-control" placeholder="" value="İrem ÖZŞATIR" disabled>
                </div>
            </div>
        </div>
    </form>
</div>