<style>
	.form-label {
		font-weight: bold;
	}
</style>
<div class="basic-form p-3">
	<div id="additional-loading"></div>


	<form>
		<div class="row">
			<h5 class="text-primary">Ek Patent</h5>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Ana Patent Dosya Numarası
					</label>
					<input type="text" class="form-control" id="col_additional_patent_filenum" placeholder="" value="" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">Ana Patent Başvuru Numarası
					</label>
					<input type="text" class="form-control" id="col_additional_patent_appnum" placeholder="" value="-" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Ana Patent Dosyalama Tarihi
					</label>
					<input type="text" class="form-control" id="col_additional_patent_filling_date" placeholder="" value="" disabled>

				</div>
			</div>
			<h5 class="text-primary">Bölünmüş Patent</h5>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Ana Patent Dosya Numarası
					</label>
					<input type="text" class="form-control" id="col_divided_patent_filenum" placeholder="" value="" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">Ana Patent Başvuru Numarası
					</label>
					<input type="text" class="form-control" id="col_divided_patent_appnum" placeholder="" value="-" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Ana Patent Dosyalama Tarihi
					</label>
					<input type="text" class="form-control" id="col_divided_patent_filling_date" placeholder="" disabled>

				</div>
			</div>
		</div>
	</form>
</div>
