<style>
    table.table th {
        font-size: 12px !important
    }

    table.table td {
        font-size: 10px !important;
    }
</style>
<div class="table-responsive">
    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th>No</th>
            <th>ETTN</th>
            <th>Tarih</th>
            <th>Tutar(TL)</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Detay</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                APB20202030420302
            </td>
            <td>
                13E800610-72DC-44F6-b7DE-9AFF77040434
            </td>
            <td>
                16/08/2023
            </td>
            <td>

            </td>
            <td>
                lorem ipsum dolor sit amet lorem ipsum dolor sit amet
            </td>
            <td>
                AÇIK
            </td>

            <td>
                <a href="#" class="text-primary text-decoration-underline">Detay</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>