<style>
    .form-label {
        font-weight: bold;
    }
</style>
<div class="basic-form p-3">
    <form>
        <div class="row">
            <h4 class="mb-2 text-primary">Ep Geçerlilik Bilgisi</h4>
            <div class="col-sm-12 col-lg-6 mt-2 ">
                <div class="mb-3 row">
                    <label class="form-label">Başvuru Numarası
                    </label>
                    <input type="text" class="form-control" placeholder="" value="14744136.4" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Başvuru Tarihi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="09/07/2014" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Yayın Numarası

                    </label>
                    <input type="text" class="form-control" placeholder="" value="3019696" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Yayın Tarihi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Kabul Yayın Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="18/01/2023" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Geçerlilik Son Tarihi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="18/04/2023" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Geçici Koruma

                    </label>
                    <input type="text" class="form-control" placeholder="" value="YOK" disabled>
                </div>

            </div>
            <h4 class="mb-2 text-primary">PCT Ülke Girişi</h4>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Uluslararası Bşvr. No
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Uluslararası Bşvr. Tarihi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Uluslararası Yyn No

                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Uluslararası Yyn Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Kısım Bilgisi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="Vossius & Partner" disabled>
                </div>

            </div>
        </div>
    </form>
</div>