<style>
	.form-label {
		font-weight: bold;
	}
</style>
<div class="basic-form p-3">
	<form>
		<div id="ulke-loading"></div>
		<div class="row" id="ulke-container">
			<h4 class="mb-2 text-primary">Ep Geçerlilik Bilgisi</h4>
			<div class="col-sm-12 col-lg-6 mt-2 ">
				<div class="mb-3 row">
					<label class="form-label">Başvuru Numarası
					</label>
					<input type="text" class="form-control" placeholder="" id="col_application_number" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Başvuru Tarihi

					</label>
					<input type="text" class="form-control" id="col_application_date" placeholder="" value="-" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Yayın Numarası

					</label>
					<input type="text" class="form-control" id="col_eppublication_number" placeholder="" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">Yayın Tarihi

					</label>
					<input type="text" class="form-control" placeholder="" id="col_eppublication_date" value="-" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Kabul Yayın Tarihi
					</label>
					<input type="text" class="form-control" placeholder="" id="col_epapproval_date" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Geçerlilik Son Tarihi

					</label>
					<input type="text" class="form-control" id="col_protection_last_date" placeholder="" value="" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Geçici Koruma

					</label>
					<input type="text" class="form-control" placeholder="" id="ref_temporary_file_id" value="-" disabled>

				</div>

			</div>
			<h4 class="mb-2 text-primary">PCT Ülke Girişi</h4>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Uluslararası Bşvr. No
					</label>
					<input type="text" class="form-control" placeholder="" id="col_pctapplication_number" value="?" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">Uluslararası Bşvr. Tarihi

					</label>
					<input type="text" class="form-control" placeholder="" id="col_pctapplication_date" value="?" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Uluslararası Yyn No

					</label>
					<input type="text" class="form-control" id="col_pctpublication_number" placeholder="" value="?" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Uluslararası Yyn Tarihi
					</label>
					<input type="text" class="form-control" id="col_pctpublication_date" placeholder="" value="?" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Kısım Bilgisi

					</label>
					<input type="text" class="form-control" placeholder="" value="?" disabled>
				</div>

			</div>
		</div>
	</form>
</div>
