<style>
    .form-label {
        font-weight: bold;
    }
</style>
<div class="basic-form p-3">
    <form>
        <div class="row">
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Yayın Bülteni
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Yayın Bülteni
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Araştırma Rap. Yyn. Tar.

                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Erken Yyn. Talep Tar.
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Mucbire Düş. Yyn. Tar.
                    </label>
                    <input type="text" class="form-control" placeholder="" value="" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Patent/FM Belgesi Verildi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="Evet" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Sistem
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Patent/FM Numarası
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Patent/FM Belge Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Patent/FM Veriliş Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Lisans Teklif Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
                <div class="mb-3 row">
                    <label class="form-label">İspat Sunulma Son Tarihi
                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <div class="mb-3 row">
                    <label class="form-label">Kullanım İspatı Tarihi

                    </label>
                    <input type="text" class="form-control" placeholder="" value="-" disabled>
                </div>

            </div>
        </div>
    </form>
</div>