<style>
	.form-label {
		font-weight: bold;
	}
</style>
<div id="installment-loading"></div>

<div class="basic-form p-3">
	<form>
		<div class="row">
			<div class="col-sm-12 col-lg-6 mt-2 ">
				<div class="mb-3 row">
					<label class="form-label">Taksit Takibi
					</label>
					<input type="text" id="col_installment_pursuance" class="form-control" placeholder="" value="YOK" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Taksit Hatırlatma
					</label>
					<input type="text" class="form-control" id="col_installment_reminding" placeholder="" value="YOK" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Taksit Vekili

					</label>
					<input type="text" id="installmentrepresentative_col_id" class="form-control" placeholder="Taksit Vekili Yok" value="3019696" disabled>

				</div>

			</div>
			<h4 class="mb-2 text-primary">Taksit Bilgisi</h4>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Son Ödenen Taksit Tar.
					</label>
					<input type="text" class="form-control" id="col_last_paid_date" placeholder="" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Ödeme Talimat Numarası
					</label>
					<input type="text" class="form-control" placeholder="" id="col_major_unpaid_order" disabled>


				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Mücbir Neden Talebi

					</label>
					<input type="text" class="form-control" id="col_comment" placeholder="-" value="-" disabled>

				</div>

			</div>

			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Son Ödenen Taksit Yıl


					</label>
					<input type="text" class="form-control" id="col_last_paid_year" placeholder="" value="-" disabled>

				</div>
				<div class="mb-3 row">
					<label class="form-label">Ek Süre Taksit Ödemesi


					</label>
					<input type="text" class="form-control" id="col_limitation_paid" placeholder="" value="YOK" disabled>

				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Gelecek Taksit Tar.


					</label>
					<input type="text" class="form-control" id="col_next_paid_date" placeholder="" value="07/07/2023" disabled>


				</div>
				<div class="mb-3 row">
					<label class="form-label">Ek Süre Taksit Son Tar.

					</label>
					<input type="text" class="form-control" placeholder="" value="-" disabled>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 ">
				<div class="mb-3 row">
					<label class="form-label">Gelecek Taksit Yıl
					</label>
					<input type="text" class="form-control" id="col_next_paid_year" placeholder="" value="-" disabled>

				</div>

			</div>
		</div>
	</form>
</div>
