<style>
	table.table th {
		font-size: 12px !important
	}

	table.table td {
		font-size: 10px !important;
	}
</style>
<div class="table-responsive">
	<table class="table table-responsive-sm">
		<thead>
			<tr>
				<th>Rüçhan Numarası</th>
				<th>Ülke</th>
				<th>Rüçhan Tarihi</th>
				<th>Rüçhan Son Tarihi</th>
			</tr>
		</thead>
		<tbody id="priorityContainer"></tbody>
	</table>
</div>
